/* @import "node_modules/bootstrap/dist/css/bootstrap.min.css"; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
h1,
p {
  font-family: Lato;
}

body {
  background:#ddd !important;
  /* font-family: "Roboto", Courier, monospace; */
  font-family: 'Montserrat', sans-serif !important;
}
.bg-light{
  background-color: #fff !important;
}
.form-control-borderless {
  border: none !important;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
