.SearchBar {
  margin-top: 20px;
  padding: 5px;
}

.Button{
  min-width: 200px;
  margin-top: 5px;
}
.Feedback{
  margin: 5px;
  color: #ff0000;
  font-size: 12px !important;
  font-weight: 500 !important;
}